name: CD

on:
  push:
    tags:
      - "*.*.*"

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup dotnet (v3.1)
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "3.1"

      - name: Build & publish (v3.1)
        run: dotnet publish --configuration Release -o publish -r win-x64

      - name: Install Velopack CLI
        run: |
          dotnet tool install -g vpk

      - name: Create Github release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          gh release create "${{ github.ref_name }}"
          --repo "${{ github.event.repository.full_name }}"
          --title "${{ github.ref_name }}"
          --verify-tag
          --generate-notes

      - name: Create Velopack package
        run: |
          vpk pack -u SharpGallery -v ${{ github.ref_name}} -p publish

      - name: Upload Velopack package to release
        run: >
          vpk upload github --repoUrl https://github.com/${{ github.repository }} --tag ${{ github.ref_name }} --publish --token ${{ secrets.GITHUB_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    


